<mat-toolbar style="background-color: #023047 ; height: 11%" class="toolbar">
  <a ref="/login"><img src="../../../../../assets/homeguardians_logo2.png" style="cursor: pointer;margin-left: 19%; margin-top: 12%; padding: 14px" width="80px"></a>
  <div class="menu-options">
    <a class="button-menu" mat-button (click)="goToKeeper();">INICIO</a>
    <a class="button-menu" mat-button (click)="goToFindHouse();">BUSCAR CASAS</a>
    <a class="button-menu" mat-button>MENSAJERIA</a>
    <a class="button-menu" mat-button (click)="goToProfile();"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
  </div>
</mat-toolbar>
<div class="messenger-environment">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Chats Disponibles</mat-card-title>
    </mat-card-header>

    <div class="chat_window">
      <div class="top_menu">
        <div class="buttons">
          <div class="button close"></div>
          <div class="button minimize"></div>
          <div class="button maximize"></div>
        </div>
        <div class="title">
          <img src="https://static-00.iconduck.com/assets.00/chat-icon-2048x2048-i7er18st.png" width="25px" height="25px">
          Chat general
        </div>
      </div>
      <ul class="messages">
        <div class="message right" *ngFor="let item of messageGeneralList">
          <div class="avatar"></div>
          <div class="text_wrapper">
            <div class="text">{{ item.content }}</div>
          </div>
        </div>
      </ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput"/>
        </div>
        <div class="send_message" (click)="sendMessage()">
          <div class="icon"></div>
          <div class="text">Send</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
